---
import { ghostClient } from "../lib/ghost";
import Layout from "../layouts/Layout.astro";
import PostsList from "../components/PostsList.astro";
import {SITE} from "../config";

const posts = await ghostClient.posts
    .browse({
      limit: 5,
      include: "tags",
      filter: 'visibility:public',
    })
    .catch((err) => {
      console.error(err);
    });
---

<Layout title={SITE.title}>
  <main>
    <PostsList posts={posts} />
  </main>
</Layout>
