---
---

<footer class="footer">
  <ul class="ul">
    <li class="li"><a href="/about">About me</a></li>
    <li class="li"><a href="/uses">/uses</a></li>
  </ul>

  <div class="meta">
    <p>&copy;2022 Defite</p>
  </div>

  <style>
    .footer {
      @apply text-sm;
      @apply text-center;
      @apply mt-24;
      @apply pb-12;
    }
    .ul {
      @apply mb-4;
    }
    .li {
      @apply my-1;
      @apply mx-2;
      @apply inline-block;
    }
  </style>
</footer>
