
---
import "@fontsource/ibm-plex-sans/700-italic.css";
import Logo from "./Logo.astro";
import {ghostClient} from "../lib/ghost";

const settings = await ghostClient.settings
.browse()
.catch((err) => {
    console.error(err);
    });
const { description } = settings;
---

<header class="mb-11 md:mb-20 pt-8 px-4 container max-w-[780px] mx-auto">
  <div class="text-center md:text-left">
    <Logo type="header" />
    <div class="mt-4">
      <div class="text-[#757575] dark:text-stone-400">
        {description}
      </div>
    </div>
  </div>
</header>
