---
import "@fontsource/ibm-plex-sans/700-italic.css";
import Logo from "./Logo.astro";
---

<header class="mb-20 pt-8 px-4">
  <div class="container max-w-[780px] mx-auto">
    <Logo type="header" />
    <div class="mt-4">
      <div class="text-[#757575]">
        Microblog about frontend and stuff, built on top of Astro
      </div>
    </div>
  </div>
</header>
